@model WEBAPI_NGK.DataLayer.Models.Weatherinfo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Weatherinfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clocktime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clocktime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.temperature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.temperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.humidity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.humidity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.airpressure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.airpressure)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="weatherinfoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
